/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 03 Nov 2024, 21:54:26
    Author     : iyesme
*/

#completed-title{
    background-color: #042032;
    color: white;
}

