#top-ribbon{
    background-image: linear-gradient(#513018 0%, #DE9836 100%);
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    
}
#logo{
    position: absolute;
    height: 100px;
    margin: 1%;
}
#title{
    
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 500%;
    white-space: nowrap;
    color: white;
    
}

body{
    background-attachment: fixed;
    background-image: url("../Images/Background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    
}

#container{
    width: 50%;
    background-image: linear-gradient(#042032 0%, #1893E0 100%);
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    border: solid black 3px;
    border-radius: 15px;
}

#main-container{
    margin: 5% 0%;
    display: flex;
    align-items: center;
    
}

#input-container{
    gap: 2%;
}

.login-inputs{
    
    width: 100%;
    display: grid;
    grid-template-columns: 10% auto;
    column-gap: 10%;
    align-items: center;
}

.key{
   
    color: white;
    font-size: 2.5vh;
    font-weight: bold;
    white-space: nowrap;
    width: fit-content;
}

.value{
    height: 50%;
    font-size: 2vh;
    border: none;
    border-radius: 10px;
    width: 100%;
}

#block-title{
    color: white;
    text-align: center;
}

#bottom-row{
    padding-top: 2%;
}

#warning{
    text-align: center;
    background-color: white;
    
    border-radius: 15px;
    color: red;
    margin: 0px;
    
    font-size: 2.5vh;
}

#btn-container{
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
}

.btn{
    
    background-color: white;
    border-style: hidden;
    padding: 3% 10%;
    border-radius: 30px;
    font-weight: bold;
    font-size: 2vh;
    width: fit-content;
}

.btn:hover {
    transition: 0.25s;
    background-color: lightgray;
}
